.card {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height:700px;
  /* margin-top: 80px; */
  /* margin-left:550px; */
  color:#777777;
}

 hr{
  columns: rgb(52, 53, 54);
}

.card-footer{
  /* height:200px; */
  text-align: center;
}

input[type=text]{
  border-spacing: 2px;
  height:30px;
}
h2{
color:black
}
label{
width:200px;
}
 .x_title{
  text-transform :capitalize;
  color:black;
  font-size:20px;
}