<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>chainflux </title>
   </head>
   <body class="login">
      <div>
         <a class="hiddenanchor" id="signup"></a>
         <a class="hiddenanchor" id="signin"></a>
         <div class="login_wrapper">
            <div class="animate form login_form">
               <section class="login_content">
                  <div class="success" *ngIf="showSucessMessage">
                     Saved successfully
                  </div>
                  <div class="alert" *ngIf="serverErrorMessages">
                     {{serverErrorMessages}}
                  </div>
                  <form #forgotPassword="ngForm" (ngSubmit)="forgotPassword.valid && onSubmit(forgotPassword)">
                  <h1>Forgot password</h1>
                  <input type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="Email" autocomplete="off" [pattern]="emailRegex" required
                  [ngClass]="{'invalid-textbox' :forgotPassword.submitted && !email.valid }">
                  <div *ngIf="forgotPassword.submitted && email.errors?.pattern">
                     <label class="validation-message">Invalid email address.</label>
                  </div>
                  <input type="text" name="publickey" #publickey="ngModel" [(ngModel)]="model.publickey" placeholder="private key" autocomplete="off" required
                  [ngClass]="{'invalid-textbox' :forgotPassword.submitted && !publickey.valid }">
                  <div *ngIf="forgotPassword.submitted && !publickey.valid">
                     <label class="validation-message">Invalid private key address.</label>
                  </div>
                  <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="New Password" autocomplete="off" required minlength="4"
                  [ngClass]="{'invalid-textbox' :forgotPassword.submitted && !password.valid }">
                  <div *ngIf="forgotPassword.submitted && password.errors?.minlength">
                     <label class="validation-message">Minimum 4 characters.</label>
                  </div>
                  <div>
                     <button  type="submit"class="btn btn-default submit" value="forgotPassword">submit</button>
                  </div>
                  <div class="clearfix"></div>
                  <div class="separator">
                     <p class="change_link">
                        Already have an Account?               
                        <a routerLink="/login" class="to_register"> Log in </a>
                     </p>
                     <div class="clearfix"></div>
                     <br />
                     <div>
                        <h1><i class="fa fa-paw"></i> Chainflux</h1>
                        <p>©2018 All Rights Reserved. Chainflux. Privacy and Terms</p>
                     </div>
                  </div>
                  </form>
               </section>
            </div>
         </div>
      </div>
   </body>
</html>