.x_title{
  text-transform :capitalize;
  color:black;
  font-size:20px;
}

.card {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /* width: 65%; */
  height:300px;
  /* margin-top: 50px; */
  /* margin-left:250px; */
}

 hr{
  columns: rgb(52, 53, 54);
}

.card-footer{
  /* height:200px; */
  text-align: center;
}
h2{
  color:#777777
}

label{
  width:350px;
}
body{
  overflow-x:hidden;
  overflow-y: hidden
  }